@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    background-color: #1a202c; /* Tailwind's dark bg */
    color: #f8f8f8; /* Light text */
}

.custom-table thead tr {
    background-color: #2d3748; /* Slightly lighter dark shade for the header */
    color: #ffffff;
    text-align: left;
}

.custom-table th,
.custom-table td {
    padding: 12px 15px;
}

.custom-table tbody tr {
    border-bottom: 1px solid #2d3748;
}

.custom-table tbody tr:nth-of-type(even) {
    background-color: #242933; /* Alternating rows color */
}

.custom-table tbody tr:last-of-type {
    border-bottom: 2px solid #2d3748;
}

.custom-table tbody tr.active-row {
    font-weight: bold;
    color: #81E6D9; /* Highlighted text color */
}
.custom-table tbody tr:hover {
    background-color: #2d3748; /* Color on row hover */
    color: #ffffff;
}

